@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root{
  --primary-color: #00925D;
  --primary-text-color:#FFFFFF;
  --primary-background-color: #0D0C0F;
  --primary-font-family:'Rubik', sans-serif;;
  --shade-color:#28262d;
  --cards-background-color:#08080A;
  --border-buttons-color:#9CA4AB;
  --font-size-paragraph: 1rem;
  --h1-size: 2rem; 
  --h2-size: 1.5rem;
  --font-weight-titles:700;
  --font-weight-paragraph:400;
  --border-radius: 10px;
}

body{
  background-color: var(--primary-background-color);
  margin: 0;
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

.subtitle{
  font-size: var(--h2-size);
  font-weight: var(--font-weight-titles);
}


.hero{
  /* background-image: url('/img/Mandalorian.png');  */
  height: 100vh;
}

.section{
  padding-top: 3rem;
}

.container{
  width: 100%;
  /* text-align: center; */
}

.card-container{
  display: grid;
  grid-template-columns: 250px;
}

.card{
  width: 100%;
}
.card img{
  width: 100%;
}

@media (min-width: 768px) {
  .section{
    /* margin: 0 auto; */
  }
  .container{
    margin: 0 auto;
    max-width: 1048px;
  }
  .card-container{
    grid-template-columns: repeat(4, 250px);
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 250px)); */
    justify-items: center;
    column-gap: 1rem;
  }
}